In [212]:
import pandas as pd

In [213]:
#create file index
years=["2010","2011","2012","2013","2014","2015","2016","2017","2018","2019"]
file_idx=[]
for year in years:
    file_idx.append(year+"_houseEarningRatioData.csv")

In [249]:
def load_data(filename): ##loads individual csv files
    df=pd.read_csv(filename)
    print("file length is:",len(df))
    df['Year']=filename[0:4]##year is parsed from first 4 char of filename
    return df, len(dfGodsize123!
                   
total_rows=0
for n,filename in enumerate(file_idx):
    if n==0:
        df_all_years, row_cnt=load_data(filename)
    else:       
        df_int, row_cnt=load_data(filename)
        df_all_years=df_all_years.append(df_int,ignore_index = True)   
    total_rows+=row_cnt
print("total rows:",total_rows)
#rename total column       
df_all_years.rename(columns={"Total:":"Average"},inplace=True)
#get column names from raw data and make lists to split data
cols1=list(df_all_years.columns[:7])
cols1.extend(list(df_all_years.columns[-1:]))

cols2=list(df_all_years.columns[7:])
cols2.extend([df_all_years.columns[0]])

df1=df_all_years[cols1]
df2=df_all_years[cols2]

df2=pd.melt(df2,id_vars=['RegionID','Year'],var_name='Job Description',value_name='HTI')

df1=df1.merge(df2,how='inner',on=['RegionID','Year'])
###load al table and covert year to string
df_alRatioData=pd.read_csv('alRatioData.csv')
df_alRatioData['year']=df_alRatioData['year'].astype(str)
df1=df1.merge(df_alRatioData,how='inner',left_on='Year',right_on='year')

df1.to_csv('bubblewarn.csv')

file length is: 485
file length is: 489
file length is: 490
file length is: 507
file length is: 507
file length is: 508
file length is: 509
file length is: 509
file length is: 510
file length is: 503
total rows: 5017

In [248]:
df1

,RegionID,SizeRank,RegionName,StateName,CountyName,CBSACode,medianHousePrice,Year,Job Description,HTI,year,alRatio
0,394913,1,"New York, NY",NY,Hudson,35620,404435.5,2010,Average,10.034375,2010,19.914119
1,394913,1,"New York, NY",NY,Hudson,35620,404435.5,2010,"Management, business, science, and arts occupa...",6.487056,2010,19.914119
2,394913,1,"New York, NY",NY,Hudson,35620,404435.5,2010,"Management, business, and financial occupations:",5.591300,2010,19.914119
3,394913,1,"New York, NY",NY,Hudson,35620,404435.5,2010,Management occupations,5.259034,2010,19.914119
4,394913,1,"New York, NY",NY,Hudson,35620,404435.5,2010,Business and financial operations occupations,6.064501,2010,19.914119
...,...,...,...,...,...,...,...,...,...,...,...,...
180607,394674,871,"Heber, UT",UT,Wasatch,25720,553796.5,2019,"Installation, maintenance, and repair occupations",9.049554,2019,21.784614
180608,394674,871,"Heber, UT",UT,Wasatch,25720,553796.5,2019,"Production, transportation, and material movin...",20.179147,2019,21.784614
180609,394674,871,"Heber, UT",UT,Wasatch,25720,553796.5,2019,Production occupations,10.579942,2019,21.784614
180610,394674,871,"Heber, UT",UT,Wasatch,25720,553796.5,2019,Transportation occupations,9.758529,2019,21.784614
180611,394674,871,"Heber, UT",UT,Wasatch,25720,553796.5,2019,Material moving occupations,23.291269,2019,21.784614